# Environnements virtuels et cache Python
.venv/
venv/
env/
__pycache__/
*.pyc

# Les modèles sont de petite taille, on les garde sur Git pour éviter de devoir les ré-entraîner
# *.pth
# *.onnx

# Résultats d'entraînement (générés automatiquement)
eval/*.csv
eval/*.npy

# Ignorer les données prétraitées
data_collected/*_100Hz.npz
data_collected/*_100Hz_deriv.npz
